.row {
  margin-bottom: 10px;
}

.rowSm {
  margin-bottom: 5px;
}

.flex {
  display: flex;
}

.flexRow {
  display: flex;
  margin-bottom: 10px;
}

.gutterH > * {
  margin-right: 5px;
}

.flex.gutterH > *:last-child, .flexRow.gutterH > *:last-child {
  margin-right: 0;
}

.flexVCent {
  display: flex;
  height: 100%;
  align-items: center;  
}